In [141]:
## import libraries
import pandas as pd
import numpy as np
from sklearn import preprocessing

df = pd.read_csv('formatted/bikez_mundimoto.csv', sep=",")

In [4]:
df.head()

,id,Brand,Model,Year,Odometer,Sell_Price,Purchase_Price,Category,Rating,Displacement (ccm),...,Front suspension,Rear suspension,Dry weight (kg),Wheelbase (mm),Fuel capacity (lts),Fuel system,Fuel control,Seat height (mm),Cooling system,Color options
0,204,honda,forza 125,2019,10200,3890,NaN,Scooter,NaN,124.9,...,Telescopic,Twin,NaN,1490.0,11.5,Injection. PGM-FI electronic fuel injection,Single Overhead Cams (SOHC),780.0,Liquid,"Gloss Black/Matt Cynos Grey Metallic, Matt Luc..."
1,11219,honda,forza 125,2019,10000,3990,NaN,Scooter,NaN,124.9,...,Telescopic,Twin,NaN,1490.0,11.5,Injection. PGM-FI electronic fuel injection,Single Overhead Cams (SOHC),780.0,Liquid,"Gloss Black/Matt Cynos Grey Metallic, Matt Luc..."
2,19244,honda,forza 125,2019,20000,3990,NaN,Scooter,NaN,124.9,...,Telescopic,Twin,NaN,1490.0,11.5,Injection. PGM-FI electronic fuel injection,Single Overhead Cams (SOHC),780.0,Liquid,"Gloss Black/Matt Cynos Grey Metallic, Matt Luc..."
3,30080,honda,forza 125,2019,20000,3790,NaN,Scooter,NaN,124.9,...,Telescopic,Twin,NaN,1490.0,11.5,Injection. PGM-FI electronic fuel injection,Single Overhead Cams (SOHC),780.0,Liquid,"Gloss Black/Matt Cynos Grey Metallic, Matt Luc..."
4,31925,honda,forza 125,2019,30000,3790,NaN,Scooter,NaN,124.9,...,Telescopic,Twin,NaN,1490.0,11.5,Injection. PGM-FI electronic fuel injection,Single Overhead Cams (SOHC),780.0,Liquid,"Gloss Black/Matt Cynos Grey Metallic, Matt Luc..."

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2720 entries, 0 to 2719
Data columns (total 32 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   2720 non-null   int64
 1   Brand                2720 non-null   object
 2   Model                2720 non-null   object
 3   Year                 2720 non-null   int64
 4   Odometer             2720 non-null   int64
 5   Sell_Price           2720 non-null   int64
 6   Purchase_Price       323 non-null    float64
 7   Category             2720 non-null   object
 8   Rating               2361 non-null   float64
 9   Displacement (ccm)   2711 non-null   float64
 10  Power (hp)           2357 non-null   float64
 11  Torque (Nm)          2295 non-null   float64
 12  Engine cylinder      2720 non-null   object
 13  Engine stroke        2720 non-null   object
 14  Gearbox              2481 non-null   object
 15  Bore (mm)            2545 non-null   float64
 16  Stroke (mm)          2545 non-null   float64
 17  Transmission type    2560 non-null   object
 18  Front brakes         2690 non-null   object
 19  Rear brakes          2685 non-null   object
 20  Front tire           2586 non-null   object
 21  Rear tire            2585 non-null   object
 22  Front suspension     2524 non-null   object
 23  Rear suspension      2513 non-null   object
 24  Dry weight (kg)      1838 non-null   float64
 25  Wheelbase (mm)       2502 non-null   float64
 26  Fuel capacity (lts)  2637 non-null   float64
 27  Fuel system          2574 non-null   object
 28  Fuel control         2206 non-null   object
 29  Seat height (mm)     2590 non-null   float64
 30  Cooling system       2576 non-null   object
 31  Color options        2246 non-null   object
dtypes: float64(11), int64(4), object(17)
memory usage: 680.1+ KB

# Set ranges

In [7]:
df.Odometer.min() #13
df.Odometer.max() #343268

343268

In [8]:
def get_group_km(x):
    if x <= 10000:
        return '0-10000'
    if x > 10000 and x <= 20000:
        return '10000-20000'
    if x > 20000 and x <= 30000:
        return '20000-30000'
    if x > 30000 and x <= 40000:
        return '30000-40000'
    if x > 40000 and x <= 50000:
        return '40000-50000'
    if x > 50000 and x <= 70000:
        return '50000-70000'        
    if x > 70000 and x <= 100000:
        return '70000-100000'
    if x > 1000000 and x <= 150000:
        return '100000-150000'
    if x > 2000000 and x <= 300000:
        return '200000-300000'
    if x > 3000000:
        return '>300000'

df['km_cat'] = df.Odometer.apply(lambda x : get_group_km(x))

In [10]:
df.Year.min() #1986
df.Year.max() #2022

2022

In [11]:
df["yearcat"]=pd.cut(df.Year,
                  bins=pd.interval_range(start=1986, end=2022, freq=6))

In [15]:
df.Sell_Price.describe()

count    2.720000e+03
mean     9.112596e+03
std      1.916784e+05
min      0.000000e+00
25%      2.590000e+03
50%      4.290000e+03
75%      6.790000e+03
max      9.999999e+06
Name: Sell_Price, dtype: float64

In [14]:
df.Sell_Price.min() #0
df.Sell_Price.max() #9999999

9999999

In [21]:
def get_group_price(x):
    if x <= 2000:
        return '0-2000'
    if x > 2000 and x <= 4000:
        return '2000-4000'
    if x > 4000 and x <= 6000:
        return '4000-6000'
    if x > 6000 and x <= 8000:
        return '6000-8000'
    if x > 8000 and x <= 10000:
        return '8000-10000'
    if x > 10000:
        return '>10000'

df['sell_price_cat'] = df.Sell_Price.apply(lambda x : get_group_price(x))

In [17]:
df.Purchase_Price.describe()

count      323.000000
mean      3900.619195
std       3116.469737
min         10.000000
25%       1600.000000
50%       3000.000000
75%       5200.000000
max      18500.000000
Name: Purchase_Price, dtype: float64

In [20]:
df.Purchase_Price.min() #10
df.Purchase_Price.max() #18500

18500.0

In [22]:
df['purch_price_cat'] = df.Purchase_Price.apply(lambda x : get_group_price(x))

In [127]:
df['Power (hp)'].min() #3
df['Power (hp)'].max() #214

214.0

In [128]:
def get_hpw(x):
  if x >= 0 and x <= 100:
    return 1
  if x > 100 and x <= 200:
    return 2
  if x > 200 :
    return 3

In [129]:
df["hpwcat"]=df['Power (hp)'].apply(lambda x: get_hpw(x) )

In [125]:
df

,id,Brand,Model,Year,Odometer,Sell_Price,Purchase_Price,Category,Rating,Displacement (ccm),...,Color options,km_cat,yearcat,price_cat,sell_price_cat,purch_price_cat,hpwcat,fuel,cc,licence
0,204,honda,forza 125,2019,10200,3890,NaN,Scooter,NaN,124.9,...,"Gloss Black/Matt Cynos Grey Metallic, Matt Luc...",10000-20000,"(2016, 2022]",2000-4000,2000-4000,None,1.0,1,0-300,2.0
1,11219,honda,forza 125,2019,10000,3990,NaN,Scooter,NaN,124.9,...,"Gloss Black/Matt Cynos Grey Metallic, Matt Luc...",0-10000,"(2016, 2022]",2000-4000,2000-4000,None,1.0,1,0-300,2.0
2,19244,honda,forza 125,2019,20000,3990,NaN,Scooter,NaN,124.9,...,"Gloss Black/Matt Cynos Grey Metallic, Matt Luc...",10000-20000,"(2016, 2022]",2000-4000,2000-4000,None,1.0,1,0-300,2.0
3,30080,honda,forza 125,2019,20000,3790,NaN,Scooter,NaN,124.9,...,"Gloss Black/Matt Cynos Grey Metallic, Matt Luc...",10000-20000,"(2016, 2022]",2000-4000,2000-4000,None,1.0,1,0-300,2.0
4,31925,honda,forza 125,2019,30000,3790,NaN,Scooter,NaN,124.9,...,"Gloss Black/Matt Cynos Grey Metallic, Matt Luc...",20000-30000,"(2016, 2022]",2000-4000,2000-4000,None,1.0,1,0-300,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2715,54700,triumph,tiger 800,2013,80000,5990,NaN,Sport,3.6,800.0,...,"Black, white, blue",70000-100000,"(2010, 2016]",4000-6000,4000-6000,None,1.0,1,600-900,3.0
2716,54838,harley davidson,dyna street bob,2016,80000,11290,NaN,Custom / cruiser,3.1,1690.0,...,"Olive Gold,\r\nHard Candy Cancun Blue Flake, \...",70000-100000,"(2010, 2016]",>10000,>10000,None,1.0,1,>1500,3.0
2717,54871,mv agusta,f3 675,2015,20000,9500,NaN,Sport,3.3,675.0,...,"Red/silver, white, grey",10000-20000,"(2010, 2016]",8000-10000,8000-10000,None,2.0,1,600-900,3.0
2718,55006,bmw,f 800 gs adventure,2018,30000,8790,NaN,Enduro / offroad,NaN,798.0,...,"Racing Blue Metallic, Racing Red Matt",20000-30000,"(2016, 2022]",8000-10000,8000-10000,None,1.0,1,600-900,3.0
2719,55118,moto guzzi,v85 tt travel,2021,10000,11490,NaN,Enduro / offroad,NaN,853.0,...,"Nero Etna, Giallo Mojave, Rosso Uluru",0-10000,"(2016, 2022]",>10000,>10000,None,1.0,1,600-900,3.0

In [31]:
df.columns

Index(['id', 'Brand', 'Model', 'Year', 'Odometer', 'Sell_Price',
       'Purchase_Price', 'Category', 'Rating', 'Displacement (ccm)',
       'Power (hp)', 'Torque (Nm)', 'Engine cylinder', 'Engine stroke',
       'Gearbox', 'Bore (mm)', 'Stroke (mm)', 'Transmission type',
       'Front brakes', 'Rear brakes', 'Front tire', 'Rear tire',
       'Front suspension', 'Rear suspension', 'Dry weight (kg)',
       'Wheelbase (mm)', 'Fuel capacity (lts)', 'Fuel system', 'Fuel control',
       'Seat height (mm)', 'Cooling system', 'Color options', 'km_cat',
       'yearcat', 'price_cat', 'sell_price_cat', 'purch_price_cat', 'hpwcat'],
      dtype='object')

In [33]:
def get_fuel(x):
  if "injection" in str(x).lower():
    return 1
  else:
    return 0

In [35]:
df['fuel'] = df['Fuel system'].apply(lambda x: get_fuel(x))

In [ ]:
from sklearn.impute import SimpleImputer
preprocessor = SimpleImputer(missing_values=np.nan, strategy='mean')

In [48]:
X = np.array(df['Displacement (ccm)']).reshape(-1,1)
preprocessor.fit(X)
X_prep = preprocessor.transform(X)
df['Displacement (ccm)'] = X_prep.reshape(1,-1)[0]
df['Displacement (ccm)'].isna().sum()

In [131]:
X = np.array(df['hpwcat']).reshape(-1,1)
preprocessor.fit(X)
X_prep = preprocessor.transform(X)
df['hpwcat'] = X_prep.reshape(1,-1)[0]
df['hpwcat'].isna().sum()

0

In [133]:
X = np.array(df['licence']).reshape(-1,1)
preprocessor.fit(X)
X_prep = preprocessor.transform(X)
df['licence'] = X_prep.reshape(1,-1)[0]
df['licence'].isna().sum()

0

In [134]:
df.isna().sum()

id                        0
Brand                     0
Model                     0
Year                      0
Odometer                  0
Sell_Price                0
Purchase_Price         2396
Category                  0
Rating                  359
Displacement (ccm)        0
Power (hp)              363
Torque (Nm)             424
Engine cylinder           0
Engine stroke             0
Gearbox                 239
Bore (mm)               175
Stroke (mm)             175
Transmission type       160
Front brakes             30
Rear brakes              35
Front tire              134
Rear tire               135
Front suspension        195
Rear suspension         206
Dry weight (kg)         881
Wheelbase (mm)          217
Fuel capacity (lts)      83
Fuel system             145
Fuel control            514
Seat height (mm)        129
Cooling system          144
Color options           473
km_cat                    0
yearcat                   0
price_cat                 0
sell_price_cat            0
purch_price_cat        2396
hpwcat                    0
fuel                      0
cc                        0
licence                   0
dtype: int64

In [76]:
df['km_cat'][df['km_cat'].isnull()].index.tolist()

[226, 350, 2580, 2593]

In [78]:
index_n=df.columns.get_loc('km_cat')
index_n

32

In [79]:
df.iloc[[226,350,2580,2593],index_n]='20000-30000'

In [80]:
df['km_cat'].isna().sum()

0

In [104]:
df['yearcat'][df['yearcat'].isnull()].index.tolist()

[743]

In [82]:
index_n=df.columns.get_loc('yearcat')
index_n

33

In [95]:
df.yearcat.value_counts().index

CategoricalIndex([(2016, 2022], (2004, 2010], (2010, 2016], (1998, 2004],
                  (1992, 1998], (1986, 1992]],
                 categories=[(1986, 1992], (1992, 1998], (1998, 2004], (2004, 2010], (2010, 2016], (2016, 2022]], ordered=True, dtype='category')

In [106]:
df=df.drop(743)

In [102]:
df.drop(labels=743, axis=0)

,id,Brand,Model,Year,Odometer,Sell_Price,Purchase_Price,Category,Rating,Displacement (ccm),...,Seat height (mm),Cooling system,Color options,km_cat,yearcat,price_cat,sell_price_cat,purch_price_cat,hpwcat,fuel
0,204,honda,forza 125,2019,10200,3890,NaN,Scooter,NaN,124.9,...,780.0,Liquid,"Gloss Black/Matt Cynos Grey Metallic, Matt Luc...",10000-20000,"(2016, 2022]",2000-4000,2000-4000,None,"(0, 50]",1
1,11219,honda,forza 125,2019,10000,3990,NaN,Scooter,NaN,124.9,...,780.0,Liquid,"Gloss Black/Matt Cynos Grey Metallic, Matt Luc...",0-10000,"(2016, 2022]",2000-4000,2000-4000,None,"(0, 50]",1
2,19244,honda,forza 125,2019,20000,3990,NaN,Scooter,NaN,124.9,...,780.0,Liquid,"Gloss Black/Matt Cynos Grey Metallic, Matt Luc...",10000-20000,"(2016, 2022]",2000-4000,2000-4000,None,"(0, 50]",1
3,30080,honda,forza 125,2019,20000,3790,NaN,Scooter,NaN,124.9,...,780.0,Liquid,"Gloss Black/Matt Cynos Grey Metallic, Matt Luc...",10000-20000,"(2016, 2022]",2000-4000,2000-4000,None,"(0, 50]",1
4,31925,honda,forza 125,2019,30000,3790,NaN,Scooter,NaN,124.9,...,780.0,Liquid,"Gloss Black/Matt Cynos Grey Metallic, Matt Luc...",20000-30000,"(2016, 2022]",2000-4000,2000-4000,None,"(0, 50]",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2715,54700,triumph,tiger 800,2013,80000,5990,NaN,Sport,3.6,800.0,...,810.0,Liquid,"Black, white, blue",70000-100000,"(2010, 2016]",4000-6000,4000-6000,None,"(50, 100]",1
2716,54838,harley davidson,dyna street bob,2016,80000,11290,NaN,Custom / cruiser,3.1,1690.0,...,680.0,Air,"Olive Gold,\r\nHard Candy Cancun Blue Flake, \...",70000-100000,"(2010, 2016]",>10000,>10000,None,"(50, 100]",1
2717,54871,mv agusta,f3 675,2015,20000,9500,NaN,Sport,3.3,675.0,...,812.0,Liquid,"Red/silver, white, grey",10000-20000,"(2010, 2016]",8000-10000,8000-10000,None,"(100, 150]",1
2718,55006,bmw,f 800 gs adventure,2018,30000,8790,NaN,Enduro / offroad,NaN,798.0,...,890.0,Liquid,"Racing Blue Metallic, Racing Red Matt",20000-30000,"(2016, 2022]",8000-10000,8000-10000,None,"(50, 100]",1
2719,55118,moto guzzi,v85 tt travel,2021,10000,11490,NaN,Enduro / offroad,NaN,853.0,...,803.0,Air,"Nero Etna, Giallo Mojave, Rosso Uluru",0-10000,"(2016, 2022]",>10000,>10000,None,"(50, 100]",1

In [ ]:
df.info()

In [83]:
df['yearcat'].unique()

[(2016.0, 2022.0], (2010.0, 2016.0], (2004.0, 2010.0], (1998.0, 2004.0], (1992.0, 1998.0], (1986.0, 1992.0], NaN]
Categories (6, interval[int64, right]): [(1986, 1992] < (1992, 1998] < (1998, 2004] < (2004, 2010] <
                                         (2010, 2016] < (2016, 2022]]

In [107]:
df['yearcat'].isna().sum()

0

In [111]:
df['Displacement (ccm)'].min()
df['Displacement (ccm)'].max()

2294.0

In [112]:
def get_cc(x):
  if x >= 0 and x < 300:
    return '0-300'
  if x >= 300 and x < 600:
    return '300-600'
  if x >= 600 and x < 900:
    return '600-900'
  if x >= 900 and x < 1200:
    return '900-300'
  if x >= 1200 and x < 1500:
    return '1200-1500'
  if x >= 1500:
    return '>1500'

In [113]:
df['cc'] = df['Displacement (ccm)'].apply(lambda x: get_cc(x))

In [119]:
df['Power (hp)'].unique()

array([ 14.8, 125. ,  60.4,  59. ,  11.3,  14.2,  27.6,  83.8,  98. ,
        52.7,  11. ,  68. ,  13.9,  72. ,   nan,   9.3,  12.2,  87. ,
       160. ,  14.1,  20.9,  81. ,  69.7,  40. ,  99.2,  67. , 170. ,
        12.1,  78.9,  46.4,  85. ,  60. , 190. ,   9.4, 150. , 195. ,
        45. , 141. ,  85.8, 110. ,  11.5, 105. ,  76.4,  96.6,  15. ,
       158. ,  90. ,  70. , 100. ,  19.8, 123. ,  92. ,  64.1,  95. ,
       109. , 111. , 114. ,  75. ,  24.8, 103. ,  10.5,  37. , 162. ,
        24.1,  50. , 116. ,  47.6,  69. ,  44. ,  89. , 164. , 165. ,
        94. ,  20.1, 115. , 136. , 134. ,  43. ,  31.1,  14.4,  11.4,
        32.9,  34. , 120. ,  49.6,  73.8,  28.4,  93. ,  21.1,  52.3,
        77. , 117. ,  48. , 142. ,  11.1,  11.2, 108. , 102. , 107. ,
        75.1,  10.3, 130. , 106. , 104. ,  33.5,  12. ,  72.4,  84.5,
        25. ,  44.3,  32. , 199. ,  10.7,  57.8,  76. , 169. , 112. ,
       155. ,  23.8,  20.8, 208. , 193. ,  74.5,  91. , 128. ,   8.3,
         4.2,  13.8,  10.2, 163. ,   8.5,  66. ,  25.8,  56.3,  93.6,
        13.4,  13. ,   9.5,  22. ,  15.9,  10.1,  73. ,  14.3,  31. ,
        39. ,  47. , 214. ,  12.6, 138. ,  24.5,  65. ,  56. ,  46.9,
         8.9,  96. ,  12.4,  95.2,  55. ,  71. ,  29.5,  77.5,  86. ,
         8.7, 173. ,  62. ,  10. ,  97. , 135. ,  65.7,  14. ,  57. ,
       132. ,  93.9,  38. ,  61. ,  21. , 200. ,  83.4,  14.5, 148. ,
        22.1,   9.6,  10.6,   9.9,  78. ,   9.8,  65.5,  15.6,  52. ,
       118. , 101. ,  58. ,  33. ,  12.5, 113. ,  25.5,  37.1, 126. ,
        22.8,  80. ,  21.5,   3. ,  53. ,  96.4, 131. ,  21.2, 175. ,
        47.3,  16. , 127. , 140. ,  42.9,  13.3, 145. , 205. ,   8.6,
        63. ])

In [120]:
def get_licence(x):
  if x > 0 and x <= 11:
    return 1
  if x > 11 and x <= 47:
    return 2
  if x > 47:
    return 3

In [121]:
df['licence'] = df['Power (hp)'].apply(lambda x: get_licence(x))

In [122]:
df.isna().sum()

id                        0
Brand                     0
Model                     0
Year                      0
Odometer                  0
Sell_Price                0
Purchase_Price         2396
Category                  0
Rating                  359
Displacement (ccm)        0
Power (hp)              363
Torque (Nm)             424
Engine cylinder           0
Engine stroke             0
Gearbox                 239
Bore (mm)               175
Stroke (mm)             175
Transmission type       160
Front brakes             30
Rear brakes              35
Front tire              134
Rear tire               135
Front suspension        195
Rear suspension         206
Dry weight (kg)         881
Wheelbase (mm)          217
Fuel capacity (lts)      83
Fuel system             145
Fuel control            514
Seat height (mm)        129
Cooling system          144
Color options           473
km_cat                    0
yearcat                   0
price_cat                 0
sell_price_cat            0
purch_price_cat        2396
hpwcat                  368
fuel                      0
cc                        0
licence                 363
dtype: int64

In [139]:
# Get dummies ['brand_id', 'fuel', 'type', 'cc']
fuel_dummies =pd.get_dummies(df['fuel'], prefix='fuel')
type_dummies = pd.get_dummies(df['Category'], prefix='type')
cc_dummies = pd.get_dummies(df['cc'], prefix='cc')
hpw_dummies = pd.get_dummies(df['hpwcat'], prefix='hpw')
km_dummies = pd.get_dummies(df['km_cat'], prefix='km')
price_dummies = pd.get_dummies(df['sell_price_cat'], prefix='price')
licence_dummies = pd.get_dummies(df['licence'], prefix='licence')

In [140]:
df = pd.concat([df, fuel_dummies, type_dummies, cc_dummies,
                hpw_dummies, km_dummies, price_dummies, licence_dummies], axis='columns')

In [143]:
# Scale
std_scaler = preprocessing.StandardScaler()
df[['price_std','km_std']]= preprocessing.scale(df[['Sell_Price', 'Odometer']])

In [45]:
df['Displacement (ccm)'].unique()

array([ 124.9, 1170. ,  649. ,  647. ,  124.5,  124.7,  292. ,  798. ,
        599. ,  550.4,  599.4,  645. ,  199.4,  124.6,  125. ,  999. ,
        249.8,  803. ,  400. ,  595. , 1201.3, 1293. ,  123.4,  696. ,
       1649. ,  618. , 1130. ,  996. , 1157. , 1298. ,  487. ,  675. ,
        124. ,  599.9,  848. ,  200. ,  249. , 1037. ,  749.9, 1063. ,
        279. ,  740. ,  821. ,  124.1,  644. ,  248. , 1043. ,  499.6,
        373.2, 1745. ,  652. ,  799. ,  124.8,  847. , 1254. ,  853. ,
        373. ,  895. ,  395. ,  987. ,  350. ,  689. ,  329.6,  896. ,
        278. ,  805. , 2294. ,  937. ,  656. ,  600. ,  124.2,  749. ,
       1198.4,  839.3, 1171. ,  449. ,   49.9,  748. ,  695. ,  313. ,
       1064. ,  249.2,  498. ,  300. ,  998. ,  500. ,  745. ,  399. ,
        955. , 1050. ,  373.5, 1103. ,  535. , 1802. ,  903. ,  108. ,
         49. , 1688. ,   49.4,  865. ,  499. , 1078. , 1085. ,  659. ,
        293.2,  149.6,  153. , 1352. ,  296. ,  199. ,  648. ,  471. ,
        670. ,  997.6,  900. , 1783. ,  123.5, 1200. ,   50. ,  249.3,
        850. , 1690. ,  744. , 1597. ,  896.1,  109.5, 1552. ,  692.7,
       1832. ,  939. , 1079. ,  753.9,  398. ,  638. ,  747. ,  244. ,
        660. , 1868. ,  196. , 1795. ,  916. , 1172. ,    nan, 1312. ,
        565.5,  449.9,  883. ,  250. , 1251. ,  888. ,  953. ,  299.3,
        449.3,  375. ,   49.5, 1441. , 1573.3, 1600. ,  800. ])

In [145]:
df.to_csv("exploitation/motos_after_preprocessing_real_data.csv", sep=';')